.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 70%;
  width: 70%;
  border: solid;
  border-width: 0.5em;
  border-radius: 1em;
}

.boxHeader {
  font-size: 2.5rem;
}