.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  border: solid;
  border-width: 0.4rem;
  border-radius: 1rem;
  padding: 1rem;
}

.desc {
  margin: 3% 0;
}

.worlds {
  display: grid;
  /* * Change row number to add new projects * */
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 3%;
}

.worldsTitle {
  grid-column: 1;
}

.worldsItem {
  text-decoration: none;
  color: inherit;
  grid-column: 2;
  text-align: left;
}

.small {
  font-size: 1rem;
}

.linkItem {
  display: flex;
  flex-direction: row;
}

.linkItemTitle {
  margin-right: 5%;
}

.linkItemLink {
  color: inherit;
  text-decoration: none;
}