.container {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 80%;
  width: 80%;
  border: solid;
  border-width: 0.4rem;
  border-radius: 1rem;
  padding: 1rem;
}

.desc {
  margin: 3% 0;
}